<div class="footer">
    <div class="padding-global">
        <div class="container-large --column">
            <div class="pandding-section-small --column">
                <div class="footer__wrapper">
                    <div class="footer__nav">
                        <a class="name-bran">Site_name</a>
                        <div class="footer__social">
                            <div class="social__icon">
                                <img class="icon__links" src="./src/icon-links0.svg" />
                                <img class="icon__links2" src="./src/icon-links1.svg" />
                                <img class="icon__links3" src="./src/icon-links2.svg" />
                                <img class="icon__links4" src="./src/icon-links3.svg" />
                            </div>
                        </div>
                    </div>
                    <div class="footer__navs">
                        <div class="navs__contain">
                            <a class="links__text">name_topic</a>
                            <a class="links__text">name_topic</a>
                            <a class="links__text">name_topic</a>
                            <a class="links__text">name_topic</a>
                        </div>
                        <div class="navs__contain">
                            <a class="links__text">name_topic</a>
                            <a class="links__text">name_topic</a>
                            <a class="links__text">name_topic</a>
                            <a class="links__text">name_topic</a>
                        </div>
                        <div class="navs__contain">
                            <a class="links__text">name_topic</a>
                            <a class="links__text">name_topic</a>
                            <a class="links__text">name_topic</a>
                            <a class="links__text">name_topic</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>