@import "../../global/x_share/share_link";
.container_cater-manager{
    @include --flex-column;
    gap: var(--root-token-size-100percent, 1rem);
    align-self: stretch;
    position: relative;
}
.search-box{
    display: flex;
    flex-direction: row;
    align-self: stretch;
}
.search-bar{
    background: #f8f9fb;
    border-radius: 0.625rem;
    border-style: solid;
    border-color: #000000;
    border-width: 0.0625rem;
    padding:1.25rem;
    @include --flex-row;
    gap: 1rem;
    align-items: center;
    align-self: stretch;
}
.search-bar .input_lable{
    height:1rem;
    flex:1;
}
.new-catergory{
    display: flex;
    background: #000000;
    border-radius: 0.5rem;
    border-style: solid;
    border-color: #000000;
    border-width: 0.0625rem;
    padding: 0.875rem 1.5rem 0.875rem 1.5rem;
}