@charset "UTF-8";

.nav-bar {
  display: flex;
  flex-direction: column;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  overflow: hidden;
  flex: 1;
  align-self: stretch;
}

.nav-bar_wrapper {
  display: flex;
  flex-direction: row;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  overflow: hidden;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
}

.nav-bar_logo {
  flex-shrink: 0;
  width: 4.125rem;
  height: 4.125rem;
  position: relative;
}

.nav-bar_menu {
  display: flex;
  flex-direction: row;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  overflow: hidden;
  flex: 1;
  gap: var(--spacing-m, 3rem);
  align-items: center;
  flex: none;
}

.nav-bar_link {
  display: flex;
  flex-direction: row;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  overflow: hidden;
  flex: 1;
  gap: 0.625rem;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
}

.hero {
  display: flex;
  flex-direction: column;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  overflow: hidden;
  flex: 1;
  align-items: center;
  align-self: stretch;
}

.hero_wrapper {
  display: flex;
  flex-direction: column;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  overflow: hidden;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.header-image {
  width: 100%;
  border-radius: 0.5rem;
  align-self: stretch;
  flex-shrink: 0;
  height: 37.3125rem;
  position: relative;
  overflow: hidden;
  -o-object-fit: cover;
  object-fit: cover;
}

.hero_header {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: absolute;
}

.header_title {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.shop-title {
  color: var(--text-heading, #000000);
  font-family: var(--text-h-hero-font-family, "Inter-SemiBold", sans-serif);
  font-size: var(--text-h-hero-font-size, 3rem);
  line-height: var(--text-h-hero-line-height, 3.5rem);
  font-weight: var(--text-h-hero-font-weight, 600);
  position: relative;
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  justify-content: center;
}

.title-desc {
  color: var(--root-token-color-purple-darker, #362c62);
  font-family: var(--text-bd-lg-font-family, "Inter-Regular", sans-serif);
  font-size: var(--text-bd-lg-font-size, 1.25rem);
  line-height: var(--text-bd-lg-line-height, 1.5rem);
  font-weight: var(--text-bd-lg-font-weight, 400);
  position: relative;
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
}

.cust-recomm {
  display: flex;
  flex-direction: column;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  overflow: hidden;
  flex: 1;
  align-items: center;
  align-self: stretch;
}

.cust-recomm_wrapper {
  display: flex;
  flex-direction: column;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  overflow: hidden;
  flex: 1;
  gap: 2rem;
}

.title-section {
  color: var(--text-heading, #000000);
  font-family: var(--text-h-lg-font-family, "Inter-SemiBold", sans-serif);
  font-size: var(--text-h-lg-font-size, 2rem);
  line-height: var(--text-h-lg-line-height, 2.5rem);
  font-weight: var(--text-h-lg-font-weight, 600);
  position: relative;
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
}

.cust-recomm_contain {
  display: flex;
  flex-direction: row;
  /* gap: 2.1875rem; */
  justify-content: center;
  flex-wrap: wrap;
  align-self: stretch;
}

.cards_contain {
  display: flex;
  flex-direction: column;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  overflow: hidden;
  flex: 1;
  gap: 0.25rem;
  justify-content: center;
  align-self: stretch;
  flex: none;
}

.cards_desc-prod {
  color: var(--root-token-color-purple-darker, #362c62);
  font-family: var(--text-bd-md-font-family, "Inter-Regular", sans-serif);
  font-size: var(--text-bd-md-font-size, 1rem);
  line-height: var(--text-bd-md-line-height, 1.5rem);
  font-weight: var(--text-bd-md-font-weight, 400);
  position: relative;
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
}

.cards_price-prod {
  color: var(--root-token-color-purple-darker, #362c62);
  font-family: var(--text-bd-md-font-family, "Inter-Regular", sans-serif);
  font-size: var(--text-bd-md-font-size, 1rem);
  line-height: var(--text-bd-md-line-height, 1.5rem);
  font-weight: var(--text-bd-md-font-weight, 400);
  position: relative;
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
}

.trending-prods {
  display: flex;
  flex-direction: column;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  overflow: hidden;
  flex: 1;
  align-items: center;
  align-self: stretch;
}

.trending-prods_wrapper {
  display: flex;
  flex-direction: column;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  overflow: hidden;
  flex: 1;
  gap: 2rem;
  align-self: stretch;
}

.trending-prods_cards {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-self: stretch;
  flex-grow: 1;
}

.rela-prod {
  display: flex;
  flex-direction: column;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  overflow: hidden;
  flex: 1;
  align-self: stretch;
  flex: none;
}

.rela-prod_wrapper {
  display: flex;
  flex-direction: column;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  overflow: hidden;
  flex: 1;
  align-items: center;
  align-self: stretch;
  flex: none;
}

.rela-prod_list {
  display: flex;
  flex-direction: row;
  gap: 2.1875rem;
  justify-content: center;
  align-self: stretch;
}

.rela-prod_item {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.sign-up {
  display: flex;
  flex-direction: column;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  overflow: hidden;
  flex: 1;
  align-self: stretch;
}

.sign-up_wrapper {
  display: flex;
  flex-direction: column;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  flex-shrink: 0;
  max-width: 37.5rem;
  position: relative;
}

.sign-up_form {
  background: var(--theme-white);
  border-radius: var(--root-token-size-50);
  border-style: solid;
  border-color: #d9d9d9;
  border-width: 0.1875rem;
  padding: var(--root-token-size-150);
  display: flex;
  flex-direction: column;
  gap: var(--root-token-size-150);
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  min-width: 20rem;
  position: relative;
}

.form_input {
  display: flex;
  flex-direction: column;
  gap: var(--root-token-size-50);
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}

.input-lable {
  color: var(--root-token-color-purple-darker, #362c62);
  font-family: var(--text-bd-lg-font-family, "Inter-Regular", sans-serif);
  font-size: var(--text-bd-lg-font-size, 1.25rem);
  line-height: var(--text-bd-lg-line-height, 1.5rem);
  font-weight: var(--text-bd-lg-font-weight, 400);
  position: relative;
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  align-self: stretch;
  text-align: left;
  font-weight: var(--text-h-lg-font-weight, 600);
}

.input-desc,
.input-error {
  color: var(--root-token-color-purple-darker, #362c62);
  font-family: var(--text-bd-md-font-family, "Inter-Regular", sans-serif);
  font-size: var(--text-bd-md-font-size, 1rem);
  line-height: var(--text-bd-md-line-height, 1.5rem);
  font-weight: var(--text-bd-md-font-weight, 400);
  position: relative;
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
}

.sign-up_forgot {
  display: flex;
  flex-direction: row;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.payment {
  display: flex;
  flex-direction: column;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  overflow: hidden;
  flex: 1;
  align-self: stretch;
}

.pay-card_wrapper {
  display: flex;
  flex-direction: row;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  overflow: hidden;
  flex: 1;
  gap: var(--root-token-size-300);
}

.pay-card_infor-cust,
.pay-card_total-price {
  display: flex;
  flex-direction: column;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  overflow: hidden;
  flex: 1;
  gap: var(--root-token-size-125);
  flex: 1;
}

.infor_cust,
.infor_method-ex,
.infor_mess {
  padding: 0.5rem 0rem 0.5rem 0rem;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  align-self: stretch;
}

.infor_mess {
  border-radius: 0.5rem;
  border-style: solid;
  border-color: #000000;
  border-width: 0.0625rem;
  min-height: 6.25rem;
  padding: 0.5rem;
}

.cust_input {
  display: flex;
  flex-direction: column;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  overflow: hidden;
  flex: 1;
}

.mess_lable {
  color: var(--root-token-color-purple-darker, #362c62);
  font-family: var(--text-bd-lg-font-family, "Inter-Regular", sans-serif);
  font-size: var(--text-bd-lg-font-size, 1.25rem);
  line-height: var(--text-bd-lg-line-height, 1.5rem);
  font-weight: var(--text-bd-lg-font-weight, 400);
  position: relative;
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  position: relative;
  max-width: 56.125rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.product-selected {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
}

.product-list {
  display: flex;
  flex-direction: column;
  align-self: stretch;
}

.product-items {
  display: flex;
  flex-direction: row;
  align-self: stretch;
}

.product-image_selected {
  display: flex;
  border-radius: 0.5rem;
  width: 9rem;
  height: 6rem;
}

.quantity-controls {
  border-style: solid;
  border-color: var(--black, #121212);
  border-width: 0.2rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 9.125rem;
  height: 2.75rem;
  position: relative;
}

.product-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  flex: 1;
  position: relative;
}

.total-price,
.total-price_voucher,
.price-breakdown,
.price-breakdown_details,
.total-price_cost,
.cost_contain {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  position: relative;
}

.price-breakdown_details,
.cost_contain {
  align-items: stretch;
}

.footer_wrapper {
  display: flex;
  flex-direction: column;
  align-self: stretch;
}

.footer_content {
  display: flex;
  flex-direction: row;
  align-self: stretch;
  justify-content: space-between;
}

.footer_nav,
.footer_social {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.nav-list,
.social-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.social-list {
  flex-direction: row;
}

.detail-product {
  display: flex;
  flex-direction: column;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  overflow: hidden;
  flex: 1;
  align-items: center;
  align-self: stretch;
}

.cust_contain {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.breadcrumbs {
  padding: 0.5rem 0rem;
  display: flex;
  flex-direction: row;
  gap: 0.1rem;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.product-detail {
  display: flex;
  flex-direction: row;
  gap: 6.75rem;
  align-items: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.product-detail_infor {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-self: stretch;
  justify-content: space-between;
  gap: 1.125rem;
}

.detail_infor {
  display: flex;
  flex-direction: column;
  gap: 1.125rem;
}

.reviews {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.field {
  display: flex;
  flex-direction: column;
  align-self: stretch;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.top {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input-set {
  height: 3rem;
  border-color: black;
  border-width: 0.2rem;
}

.user-pic {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
  max-width: none;
}

.review-date {
  text-decoration: underline;
}

.review-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.review {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  background-color: aliceblue;
  border-radius: 1rem;
}

.review_images {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.size_review_images {
  height: 10rem;
  width: 7rem;
}

.button_view-more {
  align-self: center;
}

.slide-container {
  position: relative;
  max-width: 100%;
  height: 20rem;
  margin: auto;
  overflow: hidden;
  background-color: bisque;
  border: 0.2rem solid black;
  border-radius: 0.5rem;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

/* Định dạng sidebar giỏ hàng */
.cart-icon {
  cursor: pointer;
}

.cart-sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  border: 0rem solid #000;
  border-radius: 2rem;
  z-index: 4;
}

.cart-sidebar .cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #090909;
  color: #fff;
}

.cart-sidebar .cart-content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 1rem;
}

.cart-sidebar .close-btn {
  font-size: 30px;
  cursor: pointer;
}

/* Định dạng overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
  display: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  background: none;
  -webkit-font-smoothing: antialiased;
  font-family: var(--text-h-hero-font-family, "Inter-SemiBold", sans-serif);
}

menu,
ol,
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  border-radius: 15px;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}

form {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  gap: var(--root-token-size-150);
  flex: 1;
}

input,
select {
  background: var(--theme-white);
  border-radius: var(--root-token-size-50);
  border-style: solid;
  border-color: #d9d9d9;
  border-width: 0.0625rem;
  padding: var(--root-token-size-50) var(--root-token-size-100percent) var(--root-token-size-50) var(--root-token-size-100percent);
  align-self: stretch;
}

dl {
  display: grid;
  grid-template-columns: auto 1fr;
  /* Điều chỉnh độ rộng cột nếu cần */
  gap: 5px;
  /* Khoảng cách giữa các hàng */
  flex-grow: 1;
}

dt {
  grid-column: 1/2;
  /*  Đặt dt ở cột đầu tiên */
}

dd {
  grid-column: 2/3;
  text-align: end;
  /* Đặt dd ở cột thứ hai */
}

.div {
  display: flex;
  flex-direction: row;
  align-self: stretch;
  height: var(--root-token-size-10, 0.125rem);
  background-color: black;
}

.bg1-area {
  background-color: #e06f6f;
}

.bg2-area {
  background-color: #6fd1e0;
}

.bg3-area {
  background-color: #6fe07e;
}

.light-text {
  color: white !important;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  overflow: hidden;
  flex: 1;
}

.padding-global.discolumn {
  display: flex;
  flex-direction: column;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  overflow: hidden;
  flex: 1;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  align-self: stretch;
}

.padding-section-small {
  padding-top: var(--root-token-size-75, 0.75rem);
  padding-bottom: var(--root-token-size-75, 0.75rem);
  align-self: stretch;
  gap: 1.125rem;
}

.container-large.discolumn {
  display: flex;
  flex-direction: column;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  overflow: hidden;
  flex: 1;
  width: 100%;
  max-width: 100rem;
  margin-left: auto;
  margin-right: auto;
  align-self: stretch;
}

.pandding-section-medium {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
  padding: 5rem 0rem 0rem 0rem;
}

.show {
  left: 0 !important;
  position: relative !important;
  transition: left 0.3s ease;
}

.button {
  background: #000000;
  border-radius: 0.5rem;
  border-style: solid;
  border-color: #000000;
  border-width: 0.0625rem;
  padding: 0.875rem 1.5rem 0.875rem 1.5rem;
  display: flex;
  align-self: stretch;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}

.card-image {
  /* Đặt viền màu đen */
  border: 0.0625rem solid #1d1a1a;
  border-radius: 1rem;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-self: stretch;
  max-width: 20rem;
  max-height: 20rem;
  align-self: center;
}

/* Small devices (phones, 600px and down) */
@media only screen and (max-width: 650px) {
  .material-symbols-outlined.close-btn.hide {
    display: none;
  }

  .material-symbols-outlined.close-btn.active {
    display: inherit;
  }

  .nav-bar_menu.active {
    top: 26%;
  }

  .nav-bar_menu {
    width: 25rem;
    height: 20rem;
    background-color: #ffffff;
    border-radius: 1rem;
    border: 0.3rem solid rgb(0, 0, 0);
    position: fixed;
    flex-direction: column;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition: top 0.5s ease-in-out;
  }

  .rela-prod_list {
    overflow-x: auto;
    justify-content: flex-start;
    gap: 1rem;
  }

  .rela-prod_item {
    flex: 0 0 auto;
    width: 200px;
  }

  .product-detail {
    flex-direction: column;
  }

  .pay-card_wrapper {
    flex-direction: column;
  }

  .pay-card_infor-cust {
    align-self: stretch;
  }

  .breadcrumbs h6 {
    font-size: 0.5rem;
  }
}

/* Medium devices (tablets, 600px to 768px) */
@media only screen and (min-width: 650px) and (max-width: 992px) {

  /* Chọn phần tử <span> có class "material-symbols-outlined" và chứa nội dung là "menu" */
  .nav-bar_wrapper .material-symbols-outlined:nth-child(4),
  .nav-bar_wrapper .material-symbols-outlined:nth-child(5){
    display: none;
  }
}

/* Large devices (large desktops, 992px and up) */
@media only screen and (min-width: 992px) {

  /* Chọn phần tử <span> có class "material-symbols-outlined" và chứa nội dung là "menu" */
  .nav-bar_wrapper .material-symbols-outlined:nth-child(4), 
  .nav-bar_wrapper .material-symbols-outlined:nth-child(5){
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */