
@mixin -padding-global {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}
@mixin -padding-0 {
    padding: 0;
}
@mixin -padding-xxsmall {
    padding: .25rem;
}
@mixin -padding-xsmall {
    padding: .5rem;
}
@mixin -padding-small {
    padding: 1rem;
}
@mixin -padding-medium {
    padding: 2rem;
}
@mixin -padding-large {
    padding: 3rem;
}
@mixin -padding-xlarge {
    padding: 4rem;
}
@mixin -padding-xxlarge {
    padding: 5rem;
}
@mixin -padding-huge {
    padding: 6rem;
}
@mixin -padding-xhuge {
    padding: 8rem;
}
@mixin -padding-xxhuge {
    padding: 12rem;
}
@mixin -padding-section-small {
    padding-top: var(--root-token-size-75, 0.75rem);
    padding-bottom: var(--root-token-size-75, 0.75rem);
}
@mixin -padding-section-medium {
    padding-top: 5rem;
    padding-bottom: 5rem;
}
@mixin -padding-section-large {
    padding-top: 8rem;
    padding-bottom: 8rem;
}

@mixin -container-small {
    width: 100%;
    max-width: 48rem;
    margin-left: auto;
    margin-right: auto;
}
@mixin -container-medium {
    width: 100%;
    max-width: 64rem;
    margin-left: auto;
    margin-right: auto;
}
@mixin -container-large {
    width: 100%;
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
}