@import "../../global/x_share/share_link";
.rela-prod {
    @include --flex-column;
    align-self: stretch;
    flex: none;
}

.rela-prod_wrapper {
    @include --flex-column;
    align-items: center;
    align-self: stretch;
    flex: none;
}
.rela-prod_list {
    display: flex;
    flex-direction: row;
    gap: 2.1875rem;
    justify-content: center;
    align-self: stretch;
    flex:1;
}
.rela-prod_item{
    display: flex;
    flex-direction: column;
    overflow: hidden;

}