@import "../../global/x_share/share_link";
// ====================   TRENDING-PRODUCT   ====================
.trending-prods {
    @include --flex-column;
    align-items: center;
    align-self: stretch;
}

.trending-prods_wrapper {
    @include --flex-column;
    gap: 2rem;
    align-self: stretch;
}
.trending-prods_cards {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-self: stretch;
    flex-grow: 1;
}
